@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sora:wght@100..800&display=swap');

body {
    font-family: "Shippori Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.csr{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    overflow: hidden;
    
}

::-webkit-scrollbar{
    height: .1rem;
    width: .5rem;
}
::-webkit-scrollbar-track{
    background: #67ccff;
}

::-webkit-scrollbar-thumb {
    background: #194eb9;
    border-radius: 5rem;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo {
    color: #ffffff;
    padding: 0 60px;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}
.navigation {
    display: flex; 
}

.navigation a {
    color: #ffffff;
    margin-left: 70px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 6px 15px;
    border: 3px solid #00a3b9;
    border-radius: 30px;
    transition: all .3s ease;
}
.navigation a:hover, .navbars a.active {
    box-shadow: 0 0 1rem  #00a3b9 ;
    background: #00a3b9;
    color: rgb(255, 255, 255);
}

.parallax-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}
.parallax-home img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events:none ;
}
.text {
    position: absolute;
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 2px 6px 1px rgba(0, 0, 0, 0.45);
    color: #ffffff;
    top: 45vw;
    left:50vh;
}
.moon {
    mix-blend-mode: screen;
    position: absolute;
    top: 5vh;
}
.rail {
   top: 2vh;
}
.hin1 {
    top: 1vh;
}
.hin2 {
    top: 1px;
}
.about {
    background: #1D002C;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.about img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

.waterfall {
    width: 150px;
    height: 100;
    top: -85px;
    left: 2.4%;
}

.info-box {
    color: #ffffff;
    position: absolute;
    top: 12vh;
    left: 8%;
    width: 63%;
    z-index: 1003;
    background: #1D002C;
}

.texts {
    height: 9vh;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 2px 6px 1px rgba(0, 0, 0, 0.45);
    color: #ffffff;
}

.desertmoon {
    mix-blend-mode: screen;
}

.desertrock {
    top: 4vh;
    left: 3%;
}

.desertNoSky {
    top: 6vh;
    left: 3%;
}

.desertsky {
    left: 3%;
}
.navigation2 {
    height: 48%;
    width: 80%;
    z-index: 1003;
}
.waterII {
    top: 1px;
}


.navigation2 a {
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 6px 15px;
    border: 3px solid#02e1ff ;
    background: #02e1ff ;
    border-radius: 30px;
    transition: all .3s ease;
}
.navigation2 a:hover, .navbars a.btn {
    box-shadow: 0 0 1rem  #02e1ff ; ;
    background: #1D002C;
    color: rgb(255, 255, 255);
}
.product {
    text-align: center;
    background: #121137;
    position: relative;
    padding: 3rem 10%;
}
.text1 {
    height: 18vh;
    font-size: 2.9rem;
    font-weight: 600;
    text-shadow: 2px 6px 1px rgba(0, 0, 0, 0.45);
    color: #ffffff;
}

.product-card {
    display: flex;
    height: 56vh; 
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.omg {
    display: block;
    margin: auto;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    border: 3px solid #02e1ff ;
    border-radius: 45px;
    transition: all .3s ease;
    z-index: 999;
}
.omg:hover {
    cursor: pointer;
    transform: translateY(-30px);
}

a.btn11 {
    display: block;
    width: 40%;
    margin: auto;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    padding: 6px 15px;
    border: 3px solid #02e1ff ;
    border-radius: 30px;
    transition: all .3s ease;
    background: #02e1ff ;
}
a.btn11:hover {
    box-shadow: 0 0 1rem  #02e1ff ;
    background: #121137;
    color: rgb(255, 255, 255);
}


.omg img {
    width: 400px;
    height: 210px;
    margin-top: -7rem;
    filter: drop-shadow(0 0 0.5rem #1797ff);
}

.info {
    padding-bottom: .7rem;
}

.info p {
    padding: .5rem 0 1.5rem 0;
}

 .price-name {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.span {
    color: #04ff43;
    font-weight: 500;
    font-size: 26px;
}

.spans {
    font-weight: 500;
    font-size: 35px;
}
button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}




/* .body {
    background: linear-gradient(#040228 0%, #0075c7 40%);
    min-height: 90px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url(../Wad/car.jpg)
    no-repeat;
    background-size:cover ;
    background-position: center;
    
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}
.navbars {
    display: flex; /* กำหนดให้ลิงค์ภายในเรียงตัวแนวนอน */


/* .navbars a{
    font-size: 20px;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    margin-left: 80px;
    font-weight: 600;
    padding: 6px 15px;
    border: 3px solid #00a3b9;
    border-radius: 30px;
    transition: all .3s ease;
}

.navbars a:hover, .navbars a.active {
    background: #00a3b9;
}
.section{
    min-height: 90px;
    overflow-x: hidden;
    overflow-y: hidden;
  
}
.parallax-home {
   
    align-items: center;
    height: 200vh;
    
}

.parallax-home img {
    min-height: 90px;
    overflow-x: hidden;
    overflow-y: hidden;
}



.sec {
    position: absolute;
    padding: 100px;
    background: linear-gradient(#040228 0%, #0075c7 40%);
}

.sec h2 {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 10px;
}

.sec h2:nth-child(2){
    font-size: 2em;
}

.sec p {
    color: #ffffff;
} */ 